
body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
body.dark{
    background-color: rgb(33, 33, 33);
}
body.dark .header{
    background: url(img/bg-header.png) no-repeat left top / contain;
}
body.dark button:hover{
    background-color: rgb(50, 50, 50);
}
body.dark .theme-dark{
    background-color: black;
}
body.dark button{
    background-color: rgb(165, 165, 165);
    border: 1px solid #e0e0e0;
}
button{
    outline: none;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 2px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #c3c3c3;
    color: #f3f3f3;
}
.top-element{
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}
.sound-box{
    position: relative;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    margin: 0;
}
body.dark .sound-icon{
    background-color: rgb(165, 165, 165);
}
.sound-icon:hover{
    background-color: #c3c3c3;
}
.btn-sound{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.sound-icon{
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    background-color: rgb(240, 240, 240);
}
.sound-icon::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: url(img/sound-on.svg) no-repeat center center;
    opacity: 1;
    transition: all 0.3s ease;
}
.sound-icon::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: url(img/sound-off.svg) no-repeat center center;
    opacity: 0;
    transition: all 0.3s ease;
}
.btn-sound:checked + .sound-icon::after{
    opacity: 1;
}
.btn-sound:checked + .sound-icon::before {
    opacity: 0;
}
.theme-box{
    height: 36px;
    border-radius: 2px;
}
.btn-theme{
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
}
.theme-dark{
    background-image:  url(img/moon.svg);
    background-color: black;
    border-left: none;
}
.theme-light{
    width: 55px;
    background-image:  url(img/sun.svg);
    background-color: white;
    border-right: none;
}
body.dark .theme-light{
    width: 37px;
}
body.dark .theme-dark{
    width: 55px;
}
.btn-continue:disabled{
    color: rgb(202, 202, 202);
    background-color: white;
}
.container{
    position: relative;
    max-width: 900px;
    padding: 170px 20px 50px;
    margin: 0 auto;
}
.modal-window{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    z-index: 10;
}
.modal-content{
    position: relative;
    width: fit-content;
    height: auto;
    min-height: 100px;
    background-color: white;
    border-radius: 15px;
    border: 1px grey solid;
    padding: 50px 20px 20px;
    text-align: center;
    color: black;
    font-size: 52px;
    line-height: 2;
    font-family: "Tangerine", serif;
    font-weight: 700;
}
.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.modal-close:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.header{
    margin-bottom: 20px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    min-height: 170px;
    background: url(img/bg-header.png) no-repeat left top / contain;
    z-index: 3;
    padding: 20px;
}
body.dark .header{
    background: url(img/bg-header-invert.png) no-repeat left top / contain;
}
.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav button{
    width: 72px;
}
.timer{
    display: block;
    max-width: 80px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    margin: 10px auto;
    color: black;
}
body.choose timer{
    display: none;
}
.choose-inner{
    width: 120px;
    cursor: pointer;
}
.choose-inner img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.choose-inner p{
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
.choose-game{
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top: 165px;
    left: 0;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200px);
    transition: all 0.4s ease;
    z-index: 6;
    background-color: white;
    padding: 10px;
}
.choose-name{
    color: black;
}
body.choose .choose-game{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
body.choose .timer{
    display: none;
}
.inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inner-win{
    width: 30%;
}
.inner-canvas{
    width: 70%;
}
.win-title{
    position: relative;
    text-align: center;
    line-height: 2;
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-size: 52px;
    color: black;
    margin-bottom: 0;
    cursor: pointer;
    z-index: 10;
}
.win-title:before{
    display: none;
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    content: '\25B2';
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.inner-win.show .win-title:before{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
.inner-win.show .win-table{
    display: block;
}
.inner-win{
    min-height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
}
.solution{
    position: absolute;
    top: 95px;
    right: 35px;
    width: 72px;
    z-index: 5;
}
.canvas{
    min-width: 500px;
}
body.dark .timer{
    background-color: rgb(165, 165, 165);
    border: 1px solid #e0e0e0;
}
.win-item{
    color: black;
}
@media (max-width:930px){
    .header{
        background: url(img/bg-header.png) no-repeat left top / cover;
    }
}
@media (max-width:870px){
    .win-title{
        font-size: 46px;
    }
    .inner-win{
        padding: 10px 5px;
    }
    .win-item{
        font-size: 14px;
    }
    .solution{
        top: -45px;
        right: 0px;
    }
}
@media (max-width:730px){
    .inner{
        position: relative;
        align-items: start;
    }
    .win-table{
        display: none;
        margin-top: 25px;
    }
    .inner-win{
        max-width: 210px;
        position: absolute;
        width: 100%;
        min-height: 0;
        margin-top: -55px;
    }
    .win-title{
        text-align: start;
        line-height: 0.6;
        font-size: 42px;
    }
    .win-title:before{
        display: block;
    }
    .inner-canvas{
        width: 100%;
        text-align: center;
    }
}
@media (max-width:600px){
    .inner{
        justify-content: start;
    }
    .inner-win{
        justify-self: center;
    }
    .menu{
        width: 65%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .timer{
        margin-top: 60px;
    }
    .solution{
        top: 10px;
    }
    .timer{
        margin-left: auto;
        margin-right: 0;
    }
}
@media (max-width:520px){
    .canvas{
        margin-left: -20px;
    }
}